cicd(old).yml
dir data
depcopy.yml
# Ignore Terraform state files
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
monitoring/

.github\workflows\CD-CD.yaml